

.navbar ul {
  list-style: none; 
  margin: 0; 
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  border: 1px solid transparent; 
  color: #00f
}

.navbar a:hover {
  color: #666; 
  border-color: #666 transparent;
}

.navbar a.selected {
  color: #222; 
  border-color: #222 transparent;
}